body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: brown;
    display: flex;
    justify-content: center;
}

.subt {
    color: rgb(121, 2, 2);
    padding: 90px 0px 20px 0px;
}

ul li {
    color: brown;
    padding: 20px;
}

.hero {
    background-image: url("DALL·E\ 2023-03-17\ 22.59.03.png");
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .overlay  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 50px;
}